@model int

<td>
    <div class="btn-group">
        <a class="btn btn-info" asp-action="Details" asp-route-Id="@Model"><i class="fas fa-chart-bar"></i></a>
        <a class="btn btn-warning" asp-action="Edit" asp-route-Id="@Model"><i class="fas fa-edit"></i></a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-Id="@Model"><i class="fas fa-trash-alt"></i></a>
    </div>
</td>